ladok3-model/src/main/resources/schemas/schemas.ladok.se-kataloginformation-events.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:events="http://schemas.ladok.se/events" xmlns:ki="http://schemas.ladok.se/kataloginformation" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/kataloginformation" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:import namespace="http://www.w3.org/2005/Atom" schemaLocation="schemas.ladok.se-atom.xsd"/>

  <xs:element name="AktivitetSomKraverAutentiseringEvent" type="ki:AktivitetSomKraverAutentiseringEvent"/>

  <xs:element name="AktivitetstillfallestypEvent" type="ki:AktivitetstillfallestypEvent"/>

  <xs:element name="AmnesgruppEvent" type="ki:AmnesgruppEvent"/>

  <xs:element name="AmnesklassEvent" type="ki:AmnesklassEvent"/>

  <xs:element name="AmnesordEvent" type="ki:AmnesordEvent"/>

  <xs:element name="AntagningsomgangEvent" type="ki:AntagningsomgangEvent"/>

  <xs:element name="AnvandareAndradEvent" type="ki:AnvandareAndradEvent"/>

  <xs:element name="AnvandareBaseEvent" type="ki:AnvandareBaseEvent"/>

  <xs:element name="AnvandareSkapadEvent" type="ki:AnvandareSkapadEvent"/>

  <xs:element name="BetygsradBetygsgradsklassningRattatFixEvent" type="ki:BetygsradBetygsgradsklassningRattatFixEvent"/>

  <xs:element name="BetygsskalaEvent" type="ki:BetygsskalaEvent"/>

  <xs:element name="BeviskategoriEvent" type="ki:BeviskategoriEvent"/>

  <xs:element name="EnhetEvent" type="ki:EnhetEvent"/>

  <xs:element name="ExternPartEvent" type="ki:ExternPartEvent"/>

  <xs:element name="FinansieringsformEvent" type="ki:FinansieringsformEvent"/>

  <xs:element name="FinansieringsformsgruppEvent" type="ki:FinansieringsformsgruppEvent"/>

  <xs:element name="FordjupningsnivaEvent" type="ki:FordjupningsnivaEvent"/>

  <xs:element name="ForkunskapsnivaEvent" type="ki:ForkunskapsnivaEvent"/>

  <xs:element name="HuvudomradesgruppEvent" type="ki:HuvudomradesgruppEvent"/>

  <xs:element name="KommunEvent" type="ki:KommunEvent"/>

  <xs:element name="KravPaTidigareStudierEvent" type="ki:KravPaTidigareStudierEvent"/>

  <xs:element name="LanEvent" type="ki:LanEvent"/>

  <xs:element name="LandEvent" type="ki:LandEvent"/>

  <xs:element name="LarosatesinformationEvent" type="ki:LarosatesinformationEvent"/>

  <xs:element name="MarkningsnyckelEvent" type="ki:MarkningsnyckelEvent"/>

  <xs:element name="MarkningsvardeEvent" type="ki:MarkningsvardeEvent"/>

  <xs:element name="NationellExamensgruppEvent" type="ki:NationellExamensgruppEvent"/>

  <xs:element name="NationelltForskningsamneEvent" type="ki:NationelltForskningsamneEvent"/>

  <xs:element name="NationelltUndervisningsamneEvent" type="ki:NationelltUndervisningsamneEvent"/>

  <xs:element name="NivaInomStudieordningEvent" type="ki:NivaInomStudieordningEvent"/>

  <xs:element name="OmradesbehorighetEvent" type="ki:OmradesbehorighetEvent"/>

  <xs:element name="OrganisationSkapadEvent" type="ki:OrganisationSkapadEvent"/>

  <xs:element name="OrganisationUppdateradEvent" type="ki:OrganisationUppdateradEvent"/>

  <xs:element name="OrganisationsenhetstypEvent" type="ki:OrganisationsenhetstypEvent"/>

  <xs:element name="OrganisationskopplingEvent" type="ki:OrganisationskopplingEvent"/>

  <xs:element name="OrganisationskopplingSkapadEvent" type="ki:OrganisationskopplingSkapadEvent"/>

  <xs:element name="OrganisationskopplingUppdateradEvent" type="ki:OrganisationskopplingUppdateradEvent"/>

  <xs:element name="OrganisationskopplingstypEvent" type="ki:OrganisationskopplingstypEvent"/>

  <xs:element name="OrsakAvstangningEvent" type="ki:OrsakAvstangningEvent"/>

  <xs:element name="OrsakEjAvgiftsskyldigEvent" type="ki:OrsakEjAvgiftsskyldigEvent"/>

  <xs:element name="PeriodEvent" type="ki:PeriodEvent"/>

  <xs:element name="PeriodtypEvent" type="ki:PeriodtypEvent"/>

  <xs:element name="PraktiktypEvent" type="ki:PraktiktypEvent"/>

  <xs:element name="Regelvarde" type="ki:Regelvarde"/>

  <xs:element name="RegelverkForUtbildningstyp" type="ki:RegelverkForUtbildningstyp"/>

  <xs:element name="SakerhetsnivaForAutentiseringEvent" type="ki:SakerhetsnivaForAutentiseringEvent"/>

  <xs:element name="StudiefinansieringEvent" type="ki:StudiefinansieringEvent"/>

  <xs:element name="StudielokaliseringEvent" type="ki:StudielokaliseringEvent"/>

  <xs:element name="StudieordningEvent" type="ki:StudieordningEvent"/>

  <xs:element name="StudietaktEvent" type="ki:StudietaktEvent"/>

  <xs:element name="SuccessivFordjupningEvent" type="ki:SuccessivFordjupningEvent"/>

  <xs:element name="SvenskOrtEvent" type="ki:SvenskOrtEvent"/>

  <xs:element name="TilltradesnivaEvent" type="ki:TilltradesnivaEvent"/>

  <xs:element name="TypAvExternPartEvent" type="ki:TypAvExternPartEvent"/>

  <xs:element name="UndervisningsformEvent" type="ki:UndervisningsformEvent"/>

  <xs:element name="UndervisningssprakEvent" type="ki:UndervisningssprakEvent"/>

  <xs:element name="UndervisningstidEvent" type="ki:UndervisningstidEvent"/>

  <xs:element name="UtbildningsformEvent" type="ki:UtbildningsformEvent"/>

  <xs:element name="UtbildningsomradeEvent" type="ki:UtbildningsomradeEvent"/>

  <xs:element name="UtbildningssamarbeteEvent" type="ki:UtbildningssamarbeteEvent"/>

  <xs:element name="UtbildningssatsningEvent" type="ki:UtbildningssatsningEvent"/>

  <xs:element name="UtbildningstypEvent" type="ki:UtbildningstypEvent"/>

  <xs:element name="UtbildningstypRelationerEvent" type="ki:UtbildningstypRelationerEvent"/>

  <xs:element name="UtbytesprogramEvent" type="ki:UtbytesprogramEvent"/>

  <xs:element name="UtlandskOrtEvent" type="ki:UtlandskOrtEvent"/>

  <xs:complexType name="AktivitetSomKraverAutentiseringEvent">
<xs:annotation>
<xs:documentation><![CDATA[(deprecated): Aviseras och tas bort i sprint 143 eller senare
            Händelsen publiceras när:
            - Ett grunddatavärde i kategorin "Aktivitet som kräver autentisering" skapas eller uppdateras
            Innehåller information om:
            - Grunddatavärdet
            Innehåller referenser till:
            - Kompatibla säkerhetsnivåer
            Konsekvenser för verksamheten:
            - ...
            Övrigt:
            - ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="KompatiblaSakerhetsnivaer">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="SakerhetsnivaID" type="xs:int"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetstillfallestypEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Aktivitetstillfällestyp skapas eller uppdateras
Innehåller information om:
- Den redigerade aktivitetstillfällestypen
Konsekvenser för verksamheten:
- Skapad aktivitetstillfällestyp blir möjlig att välja
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AntagningsomgangEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En antagningsomgång skapas eller uppdateras
Innehåller information om:
- Den redigerade antagningsomgången
Konsekvenser för verksamheten:
- Skapad antagningsomgång blir möjligt att välja
Övrigt:
- Grunddatakategorin innehåller enbart lärosätesspecifika/lokala värden
- Antagningsomgångar kan skapas i NyA och automatiskt överföras till Ladok.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="SistaAnmalningsdag" type="xs:date"/>
          <xs:element minOccurs="0" name="SistaAnnonseringsdag" type="xs:date"/>
          <xs:element name="Studieavgiftsbelagd" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="AnvandareBaseEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Anvandarnamnet" type="xs:string"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Email" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="SMS" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareSkapadEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En användare skapas
Innehåller information om:
- Den skapade användaren
Konsekvenser för verksamheten:
- Användaren kan väljas och tilldelas behörigheter]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="ki:AnvandareBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareAndradEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när en användare ändras
Händelsen publiceras när:
- En användare redigeras
Innehåller information om:
- Den redigerade användaren
Konsekvenser för verksamheten:
- Information om användaren, t.ex. kontaktuppgifter som SMS och epost kan ändras.
Övrigt:
- Eftersom användarnamnet kan ändras (undantagsfall) bör konsumenter av händelsen hantera även denna möjlighet]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="ki:AnvandareBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BetygsgradEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En betygsgrad skapas eller uppdateras
Innehåller information om:
- Den redigerade betygsgraden
Konsekvenser för verksamheten:
- Ny betygsgrad blir möjlig att koppla till betygsskalor
- Befintliga betygsskalor kan påverkas av ändringar i ingående betygsgrader.
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
      <xs:element minOccurs="0" name="Betygskod" type="xs:string"/>
      <xs:element name="GiltigSomSlutbetyg" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Id" type="xs:string"/>
      <xs:element name="Ordningsnummer" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BetygsradBetygsgradsklassningRattatFixEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Som en del av en rättning av ett nu rättat fel (LTRE-37148). Nya händelser av denna typ publiceras inte längre, men händelsen kan
förekomma på feeden.
Innehåller information om:
- Korrigerar värdet för "giltig som slutbetyg" för betygskoden 2 i LIU-lokal betygskala
Innehåller referenser till:
- Betygsskala och betygsgrad
Konsekvenser för verksamheten:
- Rättar tidigare publicerad men felaktigt information]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BetygsgradID" type="xs:int"/>
          <xs:element minOccurs="0" name="BetygsskalaID" type="xs:int"/>
          <xs:element name="BetygsgradGiltigSomSlutbetyg" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BetygsskalaEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En betygsskala skapas eller ändras
Innehåller information om:
- Betygsskalan
Innehåller referenser till:
- Betygsgrader
Konsekvenser för verksamheten:
- Skapade betygsskalor blir möjliga att välja för t.ex. utbildningar
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Betygsgrader" type="ki:BetygsgradEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeviskategoriEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- När en beviskategori skapas eller ändras
Innehåller information om:
- Den redigerade beviskategorin
Konsekvenser för verksamheten:
- Ny beviskategori blir möjlig att välja från t.ex. bevis/examen
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnhetEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En enhet skapas eller ändras
Innehåller information om:
- Den redigerade enheten
Konsekvenser för verksamheten:
- Ny enhet blir möjlig att koppla till t.ex. en studieordning
Övrigt:
- Helårsvärdet anger hur många poäng av denna enhet som motsvarar ett helt års heltidsstudier
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element name="Helarsvarde" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternPartEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En extern part (t.ex. utländsk högskola) skapas eller ändras
Innehåller information om:
- Den redigerade externa parten
Innehåller referenser till:
- Typ av extern part
- Land
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LandID" type="xs:string"/>
          <xs:element minOccurs="0" name="TypAvExternPartID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FinansieringsformEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En finansieringsform skapas eller ändras
Innehåller information om:
- Den redigerade finansieringsformen
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FinansieringsformsgruppEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En finansieringsformsgrupp skapas eller ändras
Innehåller information om:
- Finansieringsformsgruppen
Innehåller referenser till:
- Ingående finansieringsformer
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Finansieringsformer" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FordjupningsnivaEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En fördjupningsnivå skapas eller ändras
Innehåller information om:
- Den redigerade fördjupningsnivån
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ForkunskapsnivaEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En förkunskapsnivå skapas eller ändras
Innehåller information om:
- Den redigerade förkunskapsnivån
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HuvudomradesgruppEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En huvudområdesgrupp skapas eller ändras
Innehåller information om:
- Den redigerade huvudområdesgruppen
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KommunEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En kommun skapas eller ändras
Innehåller information om:
- Den redigerade kommunen
Innehåller referenser till:
- Län
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LanID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KravPaTidigareStudierEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Krav på tidigare studier skapas eller ändras
Innehåller information om:
- Redigerat krav inklusive emilvärde
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LandEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Land skapas eller ändras
Innehåller information om:
- Redigerat land
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LanEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett län skapas eller ändras
Innehåller information om:
- Redigerat län
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LarosatesinformationEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Lärosätesinformation skapas eller ändras
Innehåller information om:
- Redigerad lärosätesinformation
Innehåller referenser till:
- Lärosäte
- Ort
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="EpostadressForAdmingranssnitt" type="xs:string"/>
          <xs:element minOccurs="0" name="EpostadressForStudentgranssnitt" type="xs:string"/>
          <xs:element minOccurs="0" name="LarosateID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrtID" type="xs:string"/>
          <xs:element minOccurs="0" name="Postnummer" type="xs:string"/>
          <xs:element minOccurs="0" name="Postort" type="xs:string"/>
          <xs:element minOccurs="0" name="Telefonnummer" type="xs:string"/>
          <xs:element minOccurs="0" name="Utdelningsadress" type="xs:string"/>
          <xs:element minOccurs="0" name="Webbplats" type="xs:string"/>
          <xs:element minOccurs="0" name="WebbplatsEngelsk" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkningsnyckelEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Märkningsnyckel skapas eller ändras
Innehåller information om:
- Den redigerade märkningsnyckeln
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkningsvardeEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Märkningsvärde skapas eller ändras
Innehåller information om:
- Det redigerade märkningsvärdet
Innehåller referenser till:
- Märkningsnyckel
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="MarkningsnyckelID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellExamensgruppEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Nationell examensgrupp skapas eller ändras
Innehåller information om:
- Den redigerade examensgruppen
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationelltForskningsamneEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Nationellt forskningsämne skapas eller ändras
Innehåller information om:
- Det redigerade nationella forskningsämnet
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationelltUndervisningsamneEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett nationellt undervisningsämne skapas eller ändras
Innehåller information om:
- Det redigerade nationella undervisningsämnet
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NivaInomStudieordningEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En nivå inom studieordning skapas eller ändras
Innehåller information om:
- Den redigerade nivån inom studieordning
Innehåller referenser till:
-
Konsekvenser för verksamheten:
- Skapad nivå blir möjlig att koppla till studieordningar
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OmradesbehorighetEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En områdesbehörighet skapas eller ändras
Innehåller information om:
- Redigerad områdesbehörighet, inkl EMIL-värde.
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="OrganisationEvent">
<xs:annotation>
<xs:documentation><![CDATA[Gemensam information för OrganisationSkapadEvent och OrganisationUppdateradEvent]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="atom:benamningar"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Namn" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="OrganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationsenhetstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="Organisationskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationSkapadEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när en organisation skapas
Händelsen publiceras när:
- Organisation skapas eller ändras
Innehåller information om:
- Skapad organisation, inkl typ av organisation (t.ex. institution, fakultet etc)
Innehåller referenser till:
- Organisationsenhetstyp
Konsekvenser för verksamheten:
- Skapad organisation kan kopplas till exempelvis utbildningar och utbildningstillfällen, användarbehörigheter etc.
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="ki:OrganisationEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationUppdateradEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En organisation ändras
Innehåller information om:
- Redigerad organisation
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="ki:OrganisationEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationsenhetstypEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Organisationsenhetstyp skapas eller ändras
Innehåller information om:
- Redigerad organisationsenhetstyp
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när en organisationskoppling skapas eller ändras
Händelsen publiceras när:
- Organisationskoppling skapas eller ändras
Innehåller information om:
- Överliggande och underliggande organisation, dvs. vilken organisation som ingår (underliggande) i en annan organisation
(överliggande). T.ex. är en fakultet en överliggande organisationsenhet till en underliggande institution.
Innehåller referenser till:
- Överliggande organisationsenhet - Underliggande organisationsenhet
Konsekvenser för verksamheten:
- Organisationsenhetskopplingar skapar ett förhållande mellan organisationsenheter vilka tillsammans utgör en organisationshierarki.
En organisationsenhet kan bara vara underliggande till en annan organisationsenhet (trädstruktur).
- Organisationskopplingar har betydelse för behörigheter. I vissa fall ger en användarbehörighet på en överliggande nivå även
behörighet till data på underliggande nivåer i organisationshierarkin. Man ska alltså känna till att ändringar i
organisationskopplingar kan leda till att användare förlorar eller erhåller nya behörigheter till data.
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganisationskopplingUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationskopplingstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="UnderliggandeorganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OverliggandeorganisationUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingSkapadEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Organisationskoppling skapas
Innehåller information om:
- Se basklasss
Innehåller referenser till:
- Se basklass
Konsekvenser för verksamheten:
- Se basklass
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="ki:OrganisationskopplingEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingUppdateradEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Organisationskoppling ändras
Innehåller information om:
- Se basklasss
Innehåller referenser till:
- Se basklass
Konsekvenser för verksamheten:
- Se basklass
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="ki:OrganisationskopplingEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingstypEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när en organisationskopplingstyp skapas eller ändras
Händelsen publiceras när:
- En organisationskoppingstyp skapas eller ändras
Innehåller information om:
- Redigerad organisationskopplingstyp
Innehåller referenser till:
-
Konsekvenser för verksamheten:
- Skapad organisationskopplingstyp kan innebära att händelser som avser organisationskopplingar kan behöva tolkas på ett nytt sätt.
Övrigt:
- Normalt sett sker ändringar av organisationskopplingstyper mycket sällan och efter att först ha aviserats i kommande releaser.
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakAvstangningEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En orsak för avstängning skapas eller ändras
Innehåller information om:
- Orsak till en avstängning (grunddata)
Innehåller referenser till:
-
Konsekvenser för verksamheten:
- Redigerat värde blir valbart vid registrering av avstängningar
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakEjAvgiftsskyldigEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när en orsak för ej avgiftsskyldig skapas eller ändras
Händelsen publiceras när:
- En orsak till att en student ej är avgiftsskyldig skapas eller ändras
Innehåller information om:
- Redigerad orsak (grunddata)
Innehåller referenser till:
-
Konsekvenser för verksamheten:
- Redigerat värde kan väljas för att specificera befrielse från avgiftsskyldighet
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeriodEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En period skapas eller ändras
Innehåller information om:
- Redigerad period
Innehåller referenser till:
- Periodtyp
Konsekvenser för verksamheten:
-
Övrigt:
- Periodens start- och slutdatum definieras av motsvarande attribut i basklassen (giltighetsperiod). I andra grunddatakategorier
avser dessa datum normalt när grunddatavärdet är giltigt, men för period är det själva definitionen av periodens start och slut som
avses.
- Grunddatakategorin innehåller enbart lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="PeriodtypId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeriodtypEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En periodtyp skapas eller ändras
Innehåller information om:
- Redigerad periodtyp
Innehåller referenser till:
-
Konsekvenser för verksamheten:
- Redigerad periodtyp kan väljas vid administration av perioder
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PraktiktypEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En praktiktyp skapas eller ändras
Innehåller information om:
- Redigerad praktiktyp
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudiefinansieringEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En studiefinansiering skapas eller ändras
Innehåller information om:
- Redigerad studiefinansiering
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudielokaliseringEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Studielokalisering skapas eller ändras
Innehåller information om:
- Redigerad studielokalisering
Innehåller referenser till:
- Svensk ort
Konsekvenser för verksamheten:
-
Övrigt:
- Studielokalisering är en plats där undervisnings kan bedrivas, ett mer generellt begrepp än studieort, t.ex. kan flera olika
studielokaliseringar finnas på samma ort, t.ex. två olika campus. Rent hypotetiskt skulle en studielokalisering även kunna
representeras av en virtuell plats, t.ex. en lärplattform eller motsvarande.
- Grunddatakategorin innehåller enbart lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrtID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieordningEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En studieordning skapas eller ändras
Innehåller information om:
- Redigerad studieordning
Innehåller referenser till:
- Utbildningsform
- Enhet (t.ex. högskolepoäng)
Konsekvenser för verksamheten:
-
Övrigt:
- Studieordningar ändras väldigt sällan och ändringar sker alltid efter avisering.
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="EnhetID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningsformID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudietaktEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Studietakt skapas eller ändras.
Innehåller information om:
- Redigerad studietakt.
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Takt kan vara -1 (fri takt) eller mellan 1 och 100. 0 betyder ingen studietakt.
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Takt" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SuccessivFordjupningEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Värde för successiv fördjupning skapas eller ändras.
Innehåller information om:
- Redigerad successiv fördjupning
Innehåller referenser till:
- Nivå inom studieordning (grunddata)
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SvenskOrtEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett värde för svensk ort skapas eller ändras
Innehåller information om:
- Redigerad svensk ort
Innehåller referenser till:
- Kommun (grunddata)
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="KommunID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SakerhetsnivaForAutentiseringEvent">
<xs:annotation>
<xs:documentation><![CDATA[(deprecated): Aviseras och tas bort i sprint 143 eller senare
            - Händelse som publiceras när en säkerhetsnivå för autentisering skapas eller ändras]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TilltradesnivaEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett värde för tillträdesnivå skapas eller ändras
Innehåller information om:
- Redigerad tillträdesnivå
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TypAvExternPartEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett värde för Typ av extern part skapas eller ändras
Innehåller information om:
- Redigerad typ av extern part
Innehåller referenser till:
-
Konsekvenser för verksamheten:
- Redigerat värde kan användas för att specifidera extern part (grunddata)
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningsformEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En undervisningsform skapas eller ändras
Innehåller information om:
- Redigderad undervisningsform
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningssprakEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett undervisningsspråk skapas eller ändras
Innehåller information om:
- Redigerat undervisningsspråk
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningstidEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när en undervisningstid skapas eller ändras
Händelsen publiceras när:
- Ett värde för undervisningstid skapas eller ändras
Innehåller information om:
- Regigerad undervisningstid
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsformEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En utbildningsform skapas eller ändras
Innehåller information om:
- Redigerad utbildningsform
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Utbildningsformer ändras sällan och alltid efter att ha aviserats i god tid.
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsomradeEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett utbildningsområde skapas eller ändras
Innehåller information om:
- Resdigerat utbildningsområde
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningssatsningEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när en utbildningssatsning skapas eller ändras
Händelsen publiceras när:
- En utbildningssatsning skapas eller ändras
Innehåller information om:
- ...
Innehåller referenser till:
- ...
Konsekvenser för verksamheten:
- ...
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningstypEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när en utbildningstyp skapas eller ändras
Händelsen publiceras när:
- En utbildningstyp skapas eller ändras
Innehåller information om:
- Redigerad utbildningstyp, inklusive grunddtyp som kan vara antingen KURSPAKETERING, KURS eller MODUL
- Om utbildningstypen avser tillfällen eller utbildningar (true/false)
- Regelverk för utbildningstypen (regler som styr funktionalitet i andra verksamhetstjänster)
Innehåller referenser till:
- Studieordning
- Nivå inom studieordning
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå. Utbildningstyper tillkommer sällan och det sker alltid
efter avisering. Lärosäten aktiverar olika utbildningstyper genom att skapa lokala mallar för dem.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element name="AvserTillfalle" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Grundtyp" type="xs:string"/>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:int"/>
          <xs:element minOccurs="0" name="Regelverk" type="ki:RegelverkForUtbildningstyp"/>
          <xs:element minOccurs="0" name="Sorteringsordning" type="xs:int"/>
          <xs:element minOccurs="0" name="StudieordningID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RegelverkForUtbildningstyp">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Regelvarden" type="ki:Regelvarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Regelvarde">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Regelnamn" type="xs:string"/>
          <xs:element name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningstypRelationerEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En relation för en utbildningstyp skapas eller ändras. Med relation avses utbildningstypens kopplingar till andra utbildningstyper.
Innehåller information om:
- En utbildningstyps kopplingar till andra utbildningstyper
Innehåller referenser till:
- Redigerad Utbildningstyp (via fältet Id)
- Utbildningstyper inom vilken denna utbildningstyp kan vara ett utbildningstillfälle
- Utbildningstyper som kan ingå inom denna utbildningstyp (i utbildningens struktur)
Konsekvenser för verksamheten:
- Informationen i detta event styr i första hand regelverket i andra delar av Ladok, t.ex. i tjänsterna Utbildningsinformation och
Studiedeltagande, t.ex. genom att reglera vilka utbildningstyper som kan ingå i en utbildnings struktur.
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TillfalleInomUtbildningstyper" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="UnderliggandeUtbildningstyper" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbytesprogramEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när ett utbytesprogram skapas eller ändras
Händelsen publiceras när:
- Ett utbytesprogram skapas eller ändras
Innehåller information om:
- Redigerat utbytesprogram
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtlandskOrtEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En utländsk ort skapas eller ändras
Innehåller information om:
- Redigerad ort
Innehåller referenser till:
- Land (grunddata)
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LandID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IngaendePartEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
-
Innehåller information om:
- ...
Innehåller referenser till:
- ...
Konsekvenser för verksamheten:
- ...
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrerandeLarosate" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IngaendeExternPartID" type="xs:int"/>
      <xs:element minOccurs="0" name="IngaendeLarosateID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UtbildningssamarbeteEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
-
Innehåller information om:
- ...
Innehåller referenser till:
- ...
Konsekvenser för verksamheten:
- ...
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element name="GemensamExamen" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IngaendePart" type="ki:IngaendePartEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesgruppEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En ämnesgrupp skapas eller ändras
Innehåller information om:
- Redigerad ämnesgrupp
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesklassEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En ämnesklass skapas eller ändras
Innehåller information om:
- Redigerad ämnesklass
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin kan innehålla både nationella och lärosätesspecifika/lokala värden]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesordEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett ämnesord skapas eller ändras
Innehåller information om:
- Redigerat ämnesord
Innehåller referenser till:
-
Konsekvenser för verksamheten:
-
Övrigt:
- Grunddatakategorin innehåller enbart värden som redigeras på nationell nivå]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
