ladok3-model/src/main/resources/schemas/schemas.ladok.se-resultat-events.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:events="http://schemas.ladok.se/events" xmlns:rr="http://schemas.ladok.se/resultat" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/resultat" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:element name="AktivitetstillfalleAktiveratEvent" type="rr:AktivitetstillfalleAktiveratEvent"/>

  <xs:element name="AktivitetstillfalleEvent" type="rr:AktivitetstillfalleEvent"/>

  <xs:element name="AktivitetstillfalleInstalltEvent" type="rr:AktivitetstillfalleInstalltEvent"/>

  <xs:element name="AnmalanBasePaAktivitetstillfalleEvent" type="rr:AnmalanBasePaAktivitetstillfalleEvent"/>

  <xs:element name="AnmalanPaAktivitetstillfalleEvent" type="rr:AnmalanPaAktivitetstillfalleEvent"/>

  <xs:element name="AnnanMeritAttesteratEvent" type="rr:AnnanMeritAttesteratEvent"/>

  <xs:element name="AnnanMeritExaminationsdatumUppdateratFixEvent" type="rr:AnnanMeritExaminationsdatumUppdateratFixEvent"/>

  <xs:element name="AnnanMeritMakuleradEvent" type="rr:AnnanMeritMakuleradEvent"/>

  <xs:element name="AnnanMeritRattadEvent" type="rr:AnnanMeritRattadEvent"/>

  <xs:element name="AnnanMeritTillatenIBevisEvent" type="rr:AnnanMeritTillatenIBevisEvent"/>

  <xs:element name="AnnanMeritTillatenIGemensamExamenEvent" type="rr:AnnanMeritTillatenIGemensamExamenEvent"/>

  <xs:element name="AnnatResultatAttesteratEvent" type="rr:AnnatResultatAttesteratEvent"/>

  <xs:element name="AnnatResultatMakuleradEvent" type="rr:AnnatResultatMakuleradEvent"/>

  <xs:element name="AnnatResultatRattatEvent" type="rr:AnnatResultatRattatEvent"/>

  <xs:element name="AttesteratResultatMakuleratEvent" type="rr:AttesteratResultatMakuleratEvent"/>

  <xs:element name="AttesteringsbeslutForResultatUppdateratEvent" type="rr:AttesteringsbeslutForResultatUppdateratEvent"/>

  <xs:element name="AvanmalanPaAktivitetstillfalleEvent" type="rr:AvanmalanPaAktivitetstillfalleEvent"/>

  <xs:element name="DelAvKurs" type="rr:DelAvKurs"/>

  <xs:element name="Fritext" type="rr:Fritext"/>

  <xs:element name="GrundAnnatResultat" type="rr:GrundAnnatResultat"/>

  <xs:element name="GrundMerit" type="rr:GrundMerit"/>

  <xs:element name="GrundPart" type="rr:GrundPart"/>

  <xs:element name="GrundResultat" type="rr:GrundResultat"/>

  <xs:element name="HelKurs" type="rr:HelKurs"/>

  <xs:element name="MalPart" type="rr:MalPart"/>

  <xs:element name="PraktikEvent" type="rr:PraktikEvent"/>

  <xs:element name="RattaTitelForResultatEvent" type="rr:RattaTitelForResultatEvent"/>

  <xs:element name="ResultatPaHelKursAttesteratEvent" type="rr:ResultatPaHelKursAttesteratEvent"/>

  <xs:element name="ResultatPaHelKursTillStatusEvent" type="rr:ResultatPaHelKursTillStatusEvent"/>

  <xs:element name="ResultatPaModulAttesteratEvent" type="rr:ResultatPaModulAttesteratEvent"/>

  <xs:element name="ResultatPaModulTillStatusEvent" type="rr:ResultatPaModulTillStatusEvent"/>

  <xs:element name="ResultatPaUtbildningTillStatusEvent" type="rr:ResultatPaUtbildningTillStatusEvent"/>

  <xs:element name="TaBortProjekttitelEvent" type="rr:TaBortProjekttitelEvent"/>

  <xs:element name="TillgodoraknandeAttesteratEvent" type="rr:TillgodoraknandeAttesteratEvent"/>

  <xs:element name="TillgodoraknandeBeslutsdatumUppdateradFixEvent" type="rr:TillgodoraknandeBeslutsdatumUppdateradFixEvent"/>

  <xs:element name="TillgodoraknandeBorttagetEvent" type="rr:TillgodoraknandeBorttagetEvent"/>

  <xs:element name="TillgodoraknandeEvent" type="rr:TillgodoraknandeEvent"/>

  <xs:element name="TillgodoraknandeRattattEvent" type="rr:TillgodoraknandeRattattEvent"/>

  <xs:element name="TillgodoraknandegrundResultatFixEvent" type="rr:TillgodoraknandegrundResultatFixEvent"/>

  <xs:complexType name="AktivitetstillfalleAktiveratEvent">
<xs:annotation>
<xs:documentation><![CDATA[AktivitetstillfälleAktiverat : Motsats till inställt
Händelsen publiceras när:
- Ett aktivitetstillfälle aktiveras, dvs. ett aktivitetstillfälle som tidigare varit inställt inte längre ska betraktas som inställt
Innehåller information om:
-
Innehåller referenser till:
- Aktivitetstillfället som nu ska vara aktivt igen
Konsekvenser för verksamheten:
- Aktivitetstillfället är åter aktivt vilket innebär att studenter kan anmäla sig till det etc.
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:AktivitetstillfalleInstalltEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetstillfalleInstalltEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett aktivitetstillfälle ställts in
Innehåller information om:
-
Innehåller referenser till:
- Det inställda aktivitetstillfället
Konsekvenser för verksamheten:
- Studenter kan inte längre anmäla sig till inställda tillfällen
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="AktivitetstillfalleUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetstillfalleEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- När ett aktivitetstillfälle skapas eller ändras eller tas bort.
Innehåller information om:
- Det redigerade aktivitetstillfället (se egenskaper)
Innehåller referenser till:
- Kurstillfällen, aktivitetstillfällestyp
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEventRepresentationMedHandelsetyp">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Aktiviteter" type="rr:AktivitetstillfallesreferensEventPart"/>
          <xs:element name="AktivitetstillfalleUID" type="xs:string"/>
          <xs:element name="AktivitetstillfallestypID" type="xs:int"/>
          <xs:element minOccurs="0" name="Anmalan" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Anmalningsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Anonymt" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Antaldeltaganden" type="xs:int"/>
          <xs:element minOccurs="0" name="AvserKurs" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Borttagen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="DatumPeriod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Engelskbenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Installd" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KurstillfalleUIDer" type="xs:string"/>
          <xs:element minOccurs="0" name="Lank" type="xs:string"/>
          <xs:element minOccurs="0" name="Lopnummer" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Ort" type="xs:string"/>
          <xs:element minOccurs="0" name="Plats" type="xs:string"/>
          <xs:element minOccurs="0" name="Prefix" type="xs:string"/>
          <xs:element minOccurs="0" name="Sluttid" type="xs:time"/>
          <xs:element minOccurs="0" name="Starttid" type="xs:time"/>
          <xs:element minOccurs="0" name="Svenskbenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="TillatAnmalanForStudentMedGodkantResultat" type="xs:boolean"/>
          <xs:element minOccurs="0" name="VisaEndastAnonymkodForStudentNarAktivitetstillfalletPasserat" type="xs:boolean"/>
          <xs:element minOccurs="0" name="OvrigInformation" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetstillfallesreferensEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Representerar Aktivitetstillfällesreferens.]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="KursinstansUID" type="xs:string"/>
      <xs:element minOccurs="0" name="UtbildningsinstansUID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType abstract="true" name="AnmalanBasePaAktivitetstillfalleEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="AktivitetstillfalleUID" type="xs:string"/>
          <xs:element name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnmalanPaAktivitetstillfalleEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- När en student har anmälts till ett aktivitetstillfälle, dvs. har för avsikt att delta på aktivitetstillfället
Innehåller information om:
- tidpunkt, medddelande, anonymiseringskod
Innehåller referenser till:
- Student, aktivitetstillfälle
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:AnmalanBasePaAktivitetstillfalleEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anonymiseringskod" type="xs:string"/>
          <xs:element minOccurs="0" name="Meddelande" type="xs:string"/>
          <xs:element minOccurs="0" name="Tidpunkt" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnanMeritAttesteratEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En annan merit attesteras
Innehåller information om:
- Attesterad annan merit, inkl beslutsinformation
Innehåller referenser till:
- Student, extern part, annan merit
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnanMeritUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Benamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Beskrivning" type="xs:string"/>
          <xs:element minOccurs="0" name="Beslut" type="rr:BeslutEventPart"/>
          <xs:element minOccurs="0" name="Betygsskala" type="xs:string"/>
          <xs:element minOccurs="0" name="EngelskBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="Examinationsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Examinator" type="xs:string"/>
          <xs:element minOccurs="0" name="ExternpartID" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattning" type="xs:string"/>
          <xs:element minOccurs="0" name="Resultat" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultatAlternativBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Ursprung" type="xs:string"/>
          <xs:element minOccurs="0" name="Utbildningskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeslutEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Representerar ett beslut.]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
      <xs:element minOccurs="0" name="BeslutUID" type="xs:string"/>
      <xs:element minOccurs="0" name="Beslutsdatum" type="xs:date"/>
      <xs:element minOccurs="0" name="Beslutsfattare" type="xs:string"/>
      <xs:element minOccurs="0" name="BeslutsfattareUID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AnnanMeritExaminationsdatumUppdateratFixEvent">
<xs:annotation>
<xs:documentation><![CDATA[(deprecated): Händelsen publiceras när:
            - Rättning för felaktiga examinationsdatum som uppstått vid konverteringen av mah. Eventet produceras endast
            viddatamigrering i sprint 81.
            Innehåller information om:
            - ...
            Innehåller referenser till:
            - ...
            Konsekvenser för verksamheten:
            - ...
            Övrigt:
            - ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnanMeritUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Examinationsdatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnanMeritMakuleradEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Annan merit makuleras
Innehåller information om:
- Beslutsinformation
Innehåller referenser till:
- Annan merit
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnanMeritUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Beslut" type="rr:BeslutEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnanMeritRattadEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Annan merit rättats
Innehåller information om:
- Attesterad annan merit, inklusive beslutsinformation
Innehåller referenser till:
- Student, extern part
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:AnnanMeritAttesteratEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnanMeritTillatenIBevisEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En administratör har markerat en annan merit som giltig att användas i ett bevis
Innehåller information om:
-
Innehåller referenser till:
- Annan merit
Konsekvenser för verksamheten:
- Meriten är möjligt att använda vid bevisutfärdande
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnanMeritUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnanMeritTillatenIGemensamExamenEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En administratör har markerat en annan merit som giltig att användas i en gemensam examen
Innehåller information om:
-
Innehåller referenser till:
- Annan merit
Konsekvenser för verksamheten:
- Annan merit kan användas vid utfärdande av gemensam examen
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnanMeritUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnatResultatAttesteratEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Annat resultat attesteras
Innehåller information om:
- Attesterat annat resultat
Innehåller referenser till:
- Student, betygsskala, betygsgrad, utbildningstyp, extern part
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnatResultatUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Benamning" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Beskrivning" type="xs:string"/>
          <xs:element minOccurs="0" name="Beslut" type="rr:BeslutEventPart"/>
          <xs:element minOccurs="0" name="BetygsgradID" type="xs:int"/>
          <xs:element minOccurs="0" name="Betygsgradbenamning" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Betygsgradkod" type="xs:string"/>
          <xs:element minOccurs="0" name="BetygsskalaID" type="xs:int"/>
          <xs:element minOccurs="0" name="Betygsskalabenamning" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Betygsskalakod" type="xs:string"/>
          <xs:element minOccurs="0" name="Examinationsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Examinator" type="xs:string"/>
          <xs:element minOccurs="0" name="ExternpartID" type="xs:string"/>
          <xs:element minOccurs="0" name="KurspaketeringsinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattningsvarde" type="xs:decimal"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Utbildningskod" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnatResultatMakuleradEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Annat resultat makuleras
Innehåller information om:
- Beslutsinformation
Innehåller referenser till:
- Annat resultat som sedan tidigare attesterats
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnatResultatUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Beslut" type="rr:BeslutEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnatResultatRattatEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Annat resultat rättas
Innehåller information om:
- Attesterat annat resultat
Innehåller referenser till:
- Se basklass
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:AnnatResultatAttesteratEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AttesteratResultatMakuleratEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Attesterat resultat makuleras (gäller resultat på kurs eller modul)
Innehåller information om:
- Prestationspoäng, utbildningens omfattning
Innehåller referenser till:
- Resultat, student, utbildningsgrundtyp, kurs och i vissa fall modul
Konsekvenser för verksamheten:
- Resultatet ska betraktas som ogiltigt efter makulering.
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Beslut" type="rr:BeslutEventPart"/>
          <xs:element minOccurs="0" name="GiltigSomSlutbetyg" type="xs:boolean"/>
          <xs:element minOccurs="0" name="KursUID" type="xs:string"/>
          <xs:element minOccurs="0" name="PrestationsPoang" type="xs:decimal"/>
          <xs:element minOccurs="0" name="ResultatFinns" type="xs:boolean"/>
          <xs:element minOccurs="0" name="ResultatUID" type="xs:string"/>
          <xs:element minOccurs="0" name="SenasteExaminationsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningensOmfattning" type="xs:decimal"/>
          <xs:element name="UtbildningsgrundtypID" type="xs:int"/>
          <xs:element minOccurs="0" name="UtbildningsinstansUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AttesteringsbeslutForResultatUppdateratEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Attesteringsbeslut för resultat har uppdaterats
Innehåller information om:
- Beslutsinformation
Innehåller referenser till:
- Resultat, beslutsfattare
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Beslutsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Beslutsfattare" type="xs:string"/>
          <xs:element minOccurs="0" name="BeslutsfattareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultatUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AvanmalanPaAktivitetstillfalleEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En student avanmäls från ett aktivitetstillfälle där hen tidigare varit anmäld
Innehåller information om:
-
Innehåller referenser till:
- Student, aktivitetstillfälle
Konsekvenser för verksamheten:
- Studenten har inte längre för avsikt att delta på aktivitetstillfället
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:AnmalanBasePaAktivitetstillfalleEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PraktikEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Praktik dokumenteras (skapas, ändras eller tas bort)
Innehåller information om:
- Praktik
Innehåller referenser till:
- Student, praktiktyp, extern part, utbildning
Konsekvenser för verksamheten:
-
Övrigt:
- Med praktik avses arbetsplatsförlagd verksamhet som görs i anslutning till, men ej inom ramen för, en utbildning.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEventRepresentationMedHandelsetyp">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Datumperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Erkand" type="xs:boolean"/>
          <xs:element minOccurs="0" name="ExternPartID" type="xs:string"/>
          <xs:element minOccurs="0" name="Genomford" type="xs:boolean"/>
          <xs:element minOccurs="0" name="PraktikUID" type="xs:string"/>
          <xs:element minOccurs="0" name="PraktiktypID" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Tidsomfattning" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ResultatEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Representerar ett resultat.]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternativProjekttitel" type="xs:string"/>
      <xs:element minOccurs="0" name="BetygsgradID" type="xs:int"/>
      <xs:element minOccurs="0" name="BetygsskalaID" type="xs:int"/>
      <xs:element minOccurs="0" name="Examinationsdatum" type="xs:date"/>
      <xs:element minOccurs="0" name="ExamineradOmfattning" type="xs:decimal"/>
      <xs:element minOccurs="0" name="GiltigSomSlutbetyg" type="xs:boolean"/>
      <xs:element minOccurs="0" name="OmfattningsPoang" type="xs:decimal"/>
      <xs:element minOccurs="0" name="PrestationsPoang" type="xs:decimal"/>
      <xs:element minOccurs="0" name="Projekttitel" type="xs:string"/>
      <xs:element minOccurs="0" name="ResultatUID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultatPaHelKursAttesteratEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Resultat på hel kurs har attesterats
Innehåller information om:
- Resultat-detaljer, beslutsinformation
Innehåller referenser till:
- Student, kurs, kursinstans, utbildningsinstans, kurstillfälle
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:ResultatPaHelKursTillStatusEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="ResultatPaHelKursTillStatusEvent">
<xs:annotation>
<xs:documentation><![CDATA[Abstrakt händelse som indikerar att ett Resultat på hel kurs har bytt status]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:ResultatPaUtbildningTillStatusEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="ResultatPaUtbildningTillStatusEvent">
<xs:annotation>
<xs:documentation><![CDATA[Abstrakt händelse som indikerar att ett Resultat har bytt status]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Beslut" type="rr:BeslutEventPart"/>
          <xs:element minOccurs="0" name="KursUID" type="xs:string"/>
          <xs:element minOccurs="0" name="KursinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" name="KurstillfalleUID" type="xs:string">
<xs:annotation>
<xs:documentation><![CDATA[(return): Det kurstillfälle som gav resultatet]]></xs:documentation>
</xs:annotation>
</xs:element>
          <xs:element minOccurs="0" name="Resultat" type="rr:ResultatEventPart"/>
          <xs:element name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningsinstansUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ResultatPaModulAttesteratEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Resultat på hel kurs har attesterats
Innehåller information om:
- Resultat-detaljer, beslutsinformation
Innehåller referenser till:
- Student, kurs, kursinstans, utbildningsinstans (modul), kurstillfälle
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:ResultatPaModulTillStatusEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="ResultatPaModulTillStatusEvent">
<xs:annotation>
<xs:documentation><![CDATA[Abstrakt händelse som indikerar att ett Resultat på modul har bytt status]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:ResultatPaUtbildningTillStatusEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RattaTitelForResultatEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Titel för resultat har rättats
Innehåller information om:
- Projekttitel, alternativ projekttitel
Innehåller referenser till:
- Resultat
Konsekvenser för verksamheten:
-
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlternativProjekttitel" type="xs:string"/>
          <xs:element minOccurs="0" name="Projekttitel" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultatUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TaBortProjekttitelEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Projekttitel på resultat har tagits bort
Innehåller information om:
-
Innehåller referenser till:
- Resultat
Konsekvenser för verksamheten:
- ...
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResultatUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandeAttesteratEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett tillgodoräknande har attesterats
Innehåller information om:
- ...
Innehåller referenser till:
- ...
Konsekvenser för verksamheten:
- ...
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:TillgodoraknandeEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Grunder" type="rr:Grunder"/>
          <xs:element minOccurs="0" name="KoppladKurspaketeringUID" type="xs:string"/>
          <xs:element minOccurs="0" name="KopplatKurspaketeringstillfalleUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="TillgodoraknandeEvent">
<xs:annotation>
<xs:documentation><![CDATA[Abstrakt händelse som indikerar nytt Tillgodoräknande]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Beslut" type="rr:BeslutEventPart"/>
          <xs:element minOccurs="0" name="MalLista" type="rr:MalLista"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="TillgodoraknandeUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Grunder">
<xs:annotation>
<xs:documentation><![CDATA[Representerar Tillgodoräknandegrunder.]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Grunder" type="rr:GrundPart"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GrundPart">
<xs:annotation>
<xs:documentation><![CDATA[Representerar Tillgodoräknandegrund.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Typ" type="rr:GrundTyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GrundResultat">
    <xs:complexContent>
      <xs:extension base="rr:GrundPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="GrundFranLarosateID" type="xs:int"/>
          <xs:element minOccurs="0" name="Kurskod" type="xs:string"/>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:int"/>
          <xs:element minOccurs="0" name="Omfattningsvarde" type="xs:string"/>
          <xs:element minOccurs="0" name="ResultatUID" type="xs:string"/>
          <xs:element minOccurs="0" name="StudieordningID" type="xs:int"/>
          <xs:element minOccurs="0" name="Utbildningsgrundtyp" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GrundMerit">
    <xs:complexContent>
      <xs:extension base="rr:GrundPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnanMeritUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GrundAnnatResultat">
    <xs:complexContent>
      <xs:extension base="rr:GrundPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnnatResultatUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MalLista">
<xs:annotation>
<xs:documentation><![CDATA[Representerar Tillgodoräknandempl.]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MalLista" type="rr:MalPart"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MalPart">
<xs:annotation>
<xs:documentation><![CDATA[Representerar Tillgodoräknandemål.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Typ" type="rr:MalTyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DelAvKurs">
    <xs:complexContent>
      <xs:extension base="rr:MalPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeltTillgodoraknad" type="xs:boolean"/>
          <xs:element minOccurs="0" name="HeltTillgodoraknadInnanBorttag" type="xs:boolean"/>
          <xs:element name="KursUID" type="xs:string"/>
          <xs:element name="KursinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattningsvarde" type="xs:string"/>
          <xs:element minOccurs="0" name="TillgodoraknandeFinnsInomKurs" type="xs:boolean"/>
          <xs:element minOccurs="0" name="TotaltOmfattningsvarde" type="xs:string"/>
          <xs:element minOccurs="0" name="TotaltOmfattningsvardeInnanBorttag" type="xs:string"/>
          <xs:element name="UtbildningUID" type="xs:string"/>
          <xs:element name="UtbildningsinstansUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HelKurs">
    <xs:complexContent>
      <xs:extension base="rr:MalPart">
        <xs:sequence>
          <xs:element name="KursUID" type="xs:string"/>
          <xs:element name="KursinstansUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Fritext">
    <xs:complexContent>
      <xs:extension base="rr:MalPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngelskBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="EngelskBeskrivning" type="xs:string"/>
          <xs:element minOccurs="0" name="EnhetID" type="xs:string"/>
          <xs:element minOccurs="0" name="EnhetKod" type="xs:string"/>
          <xs:element minOccurs="0" name="Omfattningsvarde" type="xs:string"/>
          <xs:element minOccurs="0" name="SvenskBenamning" type="xs:string"/>
          <xs:element minOccurs="0" name="SvenskBeskrivning" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningstypID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandeBeslutsdatumUppdateradFixEvent">
<xs:annotation>
<xs:documentation><![CDATA[(deprecated): Händelsen publiceras:
            - som rättning för felaktiga beslutsdatum som uppstod vid MAH konverteringern (LTRE-25711). Eventet produceras endast
            viddatamigrering i sprint 81.
            Innehåller information om:
            - ...
            Innehåller referenser till:
            - ...
            Konsekvenser för verksamheten:
            - ...
            Övrigt:
            - ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:TillgodoraknandeEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Beslutsdatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandeBorttagetEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett tillgodoräknande tagits bort
Innehåller information om:
- Se basklass
Innehåller referenser till:
- kurspaketering, kurspaketeringstillfälle
Konsekvenser för verksamheten:
- ...
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:TillgodoraknandeEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="KoppladKurspaketeringUID" type="xs:string"/>
          <xs:element minOccurs="0" name="KopplatKurspaketeringstillfalleUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandeRattattEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ett tillgodoräknande har rättats
Innehåller information om:
- Se basklass
Innehåller referenser till:
- Se basklass
Konsekvenser för verksamheten:
- ...
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="rr:TillgodoraknandeAttesteratEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TillgodoraknandegrundResultatFixEvent">
<xs:annotation>
<xs:documentation><![CDATA[(deprecated): Händelsen publiceras:
            - som rättning till felaktiga resultatgrunder Händelse som rättar till ett felaktiga examinationsdatum som uppstått vid
            konverteringen av mah. Eventet produceras endast vid datamigrering i sprint 81.
            Innehåller information om:
            - ...
            Innehåller referenser till:
            - ...
            Konsekvenser för verksamheten:
            - ...
            Övrigt:
            - ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Resultatgrunder" type="rr:Grunder"/>
          <xs:element minOccurs="0" name="TillgodoraknandeUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="GrundTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RESULTAT"/>
      <xs:enumeration value="ANNAT_RESULTAT"/>
      <xs:enumeration value="ANNAN_MERIT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MalTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEL_AV_KURS"/>
      <xs:enumeration value="HEL_KURS"/>
      <xs:enumeration value="FRITEXT"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
